

body {
  background-image: url("https://wallpapers.com/images/high/book-pages-background-rcychdcat8acylja.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  border-style: groove;
  background-color: rgb(43, 17, 17);
  color: beige;
  width: fit-content;
  margin-left: 550px;
  margin-right: 550px;
}

p {
  border-style: double;
  background-color: beige;
  text-align: center;
  width: fit-content;
  margin-left: 150px;
  margin-right: 150px;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #141414;
  width: 200px;
  background-color:beige;
}

div.gallery-item:hover {
  border: 1px solid #777;
}


div.gallery-item img {
  width: 100%;
  height: 75% ;
}

div.gallery-item div.desc {
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
